
.order-image{
    /* width: 400px;
     height: 148.74px;
     margin: auto;*/
    // width: 400px;
     //height: 148.74px;
     position: relative;
     border-radius: 5px;
 }
 

 .evaluations-panel{
     height:calc(100vh - 120px);
     p{
         margin-bottom: 0;
         color: #5A5A5A;
         font-family: Poppins;
         font-weight: normal;
         font-size: 13px;
         line-height: 19px;
         font-style: normal;
     }
 
     h4{
          display: flex;
        // justify-content: space-between;
       //  align-items: center;
         font-size: 20px;
         font-weight: normal;
         color: #5A5A5A;
         text-transform: unset;
         font-family: Coolvetica;
         text-align: center;
         
     }
     h5{
         margin-bottom: 0px;
         font-size: 18px;
         font-weight: 500;
         color: var(--secondary_color);
         span{
             color: #699F00;
             font-size: 13px;
             &.negative{
                 color: #E10000
             }
         }
     }
   
     .evaluations{
        // height: 100%;
         //max-height: 70%;
       //  width: 50%;
         padding-left: 10px;
         padding-top: 20px;
         padding: 27px 30px;
       
         > div{
             border-radius: 27px;
             box-shadow: 4px 9px 65px #D3E1E8;
             background-color: #FFF;
             //padding: 27px 30px;
             height: 100%;
             max-height: 100%;
             h2{
                 margin-bottom: 0;
                 font-weight: 500!important;
                 font-size: 18px;
                 padding: 27px 30px;
             }
             .evaluations_list{
                //   height: calc( 70vh - 178px );
                  height: calc( 90vh - 100px );
              //   min-height: calc(100vh - 234px);
               //  max-height: calc(100vh - 234px);
                 overflow-y: auto;
               
             } 
         }   
     }
 
 
     .rates{
         // height: 100%;
          //max-height: 70%;
        //  width: 50%;
          padding-left: 10px;
          padding-top: 20px;
          padding: 27px 30px;
        
          > div{
              border-radius: 27px;
              box-shadow: 4px 9px 65px #D3E1E8;
              background-color: #FFF;
              padding: 27px 30px;
              height: 50%;
              max-height: 50%;
    
          }
      
      }
 
 
 }
 
 ::-webkit-scrollbar {
     width: 10px;
 }
  ::-webkit-scrollbar-track {
     background-color:  #DEDEDE;
     -webkit-border-radius: 10px;
     border-radius: 10px;
 }
 
  ::-webkit-scrollbar-thumb {
     -webkit-border-radius: 10px;
     border-radius: 10px;
     background: var(--primary_color);
 }
 
 .user-pic{
    width: 71px;
    height: 69px;
 }
 
 .line{
    border-bottom: 1px solid #DADADA;
    padding: 5px;
    width: 95%;
}
 