.site-footer{
  background-color: #58C6FA;
  
}

.social-networks ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-networks {
  font-family: empty;
}

.social-networks ul {
  display: inline-block;
  margin: 0 2px 5px;
}



button.btn-1 {
  width: 154px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5A5A5A;
  border-radius: 15px;
  text-align: center;
  color: #FFFFFF;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  
  }

  a.reseaux-sociaux {
   
    margin-inline: 2px;
    }


    p{
      font-family: 'Poppins' !important; 
      font-size: 13px !important;
      line-height: 19px;
      text-align: center;
      color: #FFFFFF !important;
      text-align: left;
      margin: 0;
  }
  h2{
    font-family: 'coolvetica' !important;
    font-size: 24px !important;
    line-height: 43px;
    color: #FFFFFF;
}

.takeAwayFooter{
  background-image: url(../../../assets/img/footer.png);
  position: relative;
  width: 1903px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 593px;
  margin-top: 150px;
}