
.mat-form-field-appearance-outline .mat-form-field-flex{
    background-color: #F8FBFF !important;
}



::ng-deep .mat-form-field-appearance-outline{
    &.search_input{
        .mat-form-field-outline {
            height: 32px;
        }
        .mat-form-field-flex {
            height: 32px;
            border-radius: 16px;
            padding: 0 20px;
            box-shadow: unset;
            background-color: #FBFBFB;
        }
        .mat-form-field-outline-end {
            border-radius: 0 16px 16px 0 !important;
            min-width: 16px !important;
        }
        .mat-form-field-outline-start {
            border-radius: 16px 0 0 16px !important;
            min-width: 16px !important;
        }
    }
}

.filter{
    position: relative;
    .filter_button{
        background-color: var(--secondary_color);
        color: #FFF;
        padding: 7px 18px;
        border-radius: 22px;
    }
    .options{
            display: none;
            padding-top: 10px;
            position: absolute;
            top: 20px;
            right: 0;
            z-index: 9;
        .options_content{
            background-color: #FFF;
            border-radius: 15px;
            border: 1px solid #DADADA;
            width: 320px;
            h4{
                border-bottom: 1px solid #DADADA;
                margin-bottom: 0;
                color: var(--secondary_color);
                font-weight: 500;
                font-size: 12px;
                padding: 8px 14px;
            }
            .mat-radio-button{
                display: block;
                width: 100%;   
            }
            .mat-checkbox{
                display: block;
                width: 100%;
                .mat-checkbox-layout{
                    margin-bottom: 0;
                }
            }
        }
        
    }
    &:hover{
        .options{
            display: block;
        } 
    }
}


::ng-deep .mat-menu-item {
    &.color-red{
        color: #E10000 !important;
    }
    &.color-green{
        color: #699F00 !important;
    }
    &.primary-color{
        color: var(--primary_color) !important;
    }
}

th.mat-header-cell{
 //   padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.mat-table {
    border-collapse: separate!important;
    border-spacing:0 4px!important;
 
  }
table{
    .color-green{
        color: #699F00 !important;
    }
    .color-red{
        color: #E10000 !important;
    }
    .profile_picture{
        width: 54px;
        height: 54px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    th{
        font-size: 12px;
        color: var(--default_color);   
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
    tr{
        &.mat-header-row{
            height: 40px;
        }
        &.mat-row{
            height: 66px;
        }
        margin: 2px;
        td{
            font-size: 12px;
            color: var(--default_color);
           // border-bottom: 0;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            a{
                font-size: 12px;
            }
        }  
    
        
    }

    
}
::ng-deep .ql-editor {
    background-color: #F8FBFF;
}
::ng-deep .ql-container.ql-snow,
::ng-deep .ql-toolbar.ql-snow{
    border: unset !important;
}
::ng-deep .ql-snow.ql-toolbar button:hover .ql-stroke,
::ng-deep .ql-snow.ql-toolbar button.ql-active .ql-stroke{
    stroke: var(--primary_color) !important;
}



.categories_list{
    background-color: #FFFFFF;
    padding: 10px 0px;
    border-radius: 21px;
    height: calc(100vh - 410px);
    overflow-y: auto;
    .select_category{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        text-align: center;
    }
    .category{
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        padding: 8px 5px;
        p{
            font-size: 14px;
            padding-right: 37px;
            position: relative;
            margin-bottom: 0;
            border-radius: 10px;
            padding: 7px 41px 7px 23px;
            position: relative;
            &.active{
                background-color: #F1F3F5;
                &:before{
                    position: absolute;
                    right: -21px;
                    top: 0;
                    bottom: 0;
                    width: 0;
                    height: 0;
                    margin: auto;
                    border-style: solid;
                    border-width: 15px 40px 15px 0;
                    border-color: transparent #f39908 transparent transparent;
                    z-index: 102;
                }
            }
            a{
                top: 0;
                right: 12px;
                bottom: 0;
                position: absolute;
                display: inline-flex;
                align-items: center;
                height: 20px;
                margin: auto;
            }
        }
    }
}

.page-item-li {
    background: #e9ecef;
    min-width: 24px;
    margin-left: 0.5rem;
    width: 46px;
    padding: 0 !important;
    display: flex;
  }