<ng-container *transloco="let t">
    <section class="">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="row white-background-color border-raduis-15 py-4">
              <div class="col-12">
                <div class="row justify-content-end">
                  <div class="col-sm-3 d-flex justify-content-end">
                    <mat-form-field appearance="outline">
                        <mat-date-range-input [rangePicker]="picker">
                          <input matStartDate placeholder="{{ t('FROM') }}" [formControl]="startDate" (click)="picker.open()" readonly >
                          <input matEndDate placeholder="{{ t('TO') }}" [max]="maxDate" [formControl]="endDate" (click)="picker.open()" readonly>
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                      </mat-form-field>
                  </div>
                  <div class="col-sm-2 pl-0" >
                    <button class="btn primary w-100 h-100" (click)="onExport()"> {{ t('EXPORT') }} </button>
                  </div>
                </div>
              </div>
              <div class="col-12 px-0">
                <table mat-table [dataSource]="invoicesDataSource" class="w-100  ">
                  <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                          <mat-checkbox >
                          </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                          <mat-checkbox >
                          </mat-checkbox>
                        </td>         
                  </ng-container>

                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>{{ t('DATE') }}  </th>
                    <td mat-cell *matCellDef="let element">{{element.payment_date}}</td>
                  </ng-container>
  
                  <ng-container matColumnDef="invoice">
                    <th mat-header-cell *matHeaderCellDef> {{ t('INVOICE') }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.subscription_type }}  {{  element.month }} - {{ element.user_company_name }} </td>
                  </ng-container>
  
                  <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> {{ t('AMOUNT') }}</th>
                    <td mat-cell *matCellDef="let element">{{ element.subscription_amount }}€ </td>              
                  </ng-container>
  
                  <ng-container matColumnDef="pdf">
                    <th mat-header-cell *matHeaderCellDef> {{ t('PDF') }} </th>
                    <td mat-cell *matCellDef="let element">
                        <img src="assets/img/pdf_picto.svg" alt=""
                        class="cursor-pointer" (click)="onDownloadFile(element.id, element.number)"> 
                    </td>
                  </ng-container>
  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
              </div>
            </div>
          </div>
     
        </div>
      </div>
    </section>
  </ng-container>