.takeAwayPic{
    background-image: url(../../assets/img\social_media_picto/Rectangle1.png);
    position: relative;
    width: 100%;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    &:before{
        content: "";
        background: linear-gradient(360deg, rgba(217, 244, 210, 0.92) -30%,rgba(88, 198, 250, 0.92) 100%);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    p{
        font-family: 'Poppins' !important; 
        font-size: 13px !important;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF !important;
    }
}

/////////////////listCategories///////////////////


.List-category{
    position: relative;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 10px 10px 10px #e9eff1;
    height: 160px;
    width: 250px;
    display: inline-block;
    margin-right: 38px;
    .categ-circle{
        position: absolute;
        border-radius: 50%;
        background-color: #27A09D;
        width: 130px;
        height: 130px;
        top: -40px;
        left: 25%;
     }

.categ-img{ 
    position: absolute;
    width: 180px;
    height: 180px;
    top: -61px;
    left: 7%;
}
.restau-img{
    position: absolute;
    width: 120px;
    height: 120px;
    top: -61px;
    left: 7%;
}

}


.category-icon{
background: #27A09D;
border-radius: 50%;
padding: 5px;
width: 31px;
height: 31px;
}

.title-icon{
    position: relative;
    margin-top: 100px;
}
////////inscription/////////////////@at-root

.categ-img-insc{
    position: absolute;
    margin-left: 200px; 
    width: 848px !important;
    background-image: url(../../assets/img/addRestau.png);
   h2{
    font-family: "Coolvetica" !important;
    font-size: 36px !important;
    color: #FFFFFF !important;
    right: 40px;
    top: 156px;
    position: absolute;
}
   p{
    position: absolute;
    font-family: 'Poppins' !important;
    font-size: 13px !important;
    line-height: 19px !important;
    text-align: right; 
    color: #FFFFFF !important;
    right: 40px;
    top: 201px;
   }
}
.categ-img1-insc{
    position: absolute;  
}
h2{
    font-family: "Coolvetica" !important;
    font-size: 36px !important;
}
.restauImg{
    background-image: url(../../assets/img\social_media_picto/Rectangle1.png);
    position: relative;
    width: 314px;
    height: 265px;
    border-radius: 15px;
    margin-top: 90px;
    &::before{
        content: "";
        background:  rgba(96, 204, 255, 0.9);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 15px; 
    
    }
    p{
        position: absolute;
        top: 60px;
        left: 32px;
        font-family: "Coolvetica" !important;
        font-size: 24px !important;
        color: #FFFFFF;
        line-height: 29px;
    }
    .appMobile{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .downloadApp{
        position: absolute;
        bottom: 90px;
        left: 32px;
    }
    .downloadApp2{
        position: absolute;
        bottom: 50px;
        left: 32px;
    }
}
h1{
    font-family: 'coolvetica' !important;
    font-size: 36px !important;
    line-height: 43px;
    text-align: center;
}


.mat-form-field-appearance-outline .mat-form-field-flex {
    border-radius: 8px;
    height: 39px;
    background-color: white !important;
    display: flex;
    align-items: center;
}
h4{
    font-family:'Coolvetica' !important;
    font-size: 18px !important;
    color: #5A5A5A !important;
    
}
h5{
    font-family: 'Poppins' !important;   
    font-weight: 600;
    font-size: 13px !important; 
    margin: 0px !important;

    color: #27A09D !important;

}
.inscription{
    
    top: 250px;
    right: -633px !important;
    padding: 11px 45px !important;
    border-radius: 15px;
}
.restauImgMenuCo{
    background-image: url(../../assets/img\social_media_picto/Rectangle1.png);
    position: absolute;
    width: 212px;
    height: 179px;
    border-radius: 15px;
    margin-top: 30px !important;
    margin-bottom:30px !important ;
    bottom:60px;
    &::before{
        content: "";
        background:  rgba(96, 204, 255, 0.9);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 15px; 
    
    }
    h4{
        position: absolute;
        top: 38px;
        left: 32px;
        font-family: "Coolvetica" !important;
        font-size: 18px !important;
        line-height: 22px; 
        color: #FFFFFF;
    }
    p{
        font-family: 'Poppins' !important;
        font-size: 13px !important;
        line-height: 19px !important;
        text-align: right; 
        color: #5A5A5A !important;  
    }
    .appMobileMenu{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 122px;
    }
    .downloadAppMenu{
        position: absolute;
        bottom: 70px;
        left: 32px;
        width: 60px;
    }
    .downloadApp2Menu{
        position: absolute;
        bottom: 40px;
        left: 32px;
        width: 60px;
    }
}
.restauImgMenu{
    background-image: url(../../assets/img\social_media_picto/Rectangle1.png);
    position: relative;
    width: 212px;
    height: 179px;
    border-radius: 15px;
    margin-top: 30px !important;
    margin-bottom:30px !important ;
    &::before{
        content: "";
        background:  rgba(96, 204, 255, 0.9);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 15px; 
    
    }
    h4{
        position: absolute;
        top: 38px;
        left: 32px;
        font-family: "Coolvetica" !important;
        font-size: 18px !important;
        line-height: 22px; 
        color: #FFFFFF;
    }
    p{
        font-family: 'Poppins' !important;
        font-size: 13px !important;
        line-height: 19px !important;
        text-align: right; 
        color: #5A5A5A !important;  
    }
    .appMobileMenu{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 122px;
    }
    .downloadAppMenu{
        position: absolute;
        bottom: 70px;
        left: 32px;
        width: 60px;
    }
    .downloadApp2Menu{
        position: absolute;
        bottom: 40px;
        left: 32px;
        width: 60px;
    }
}
.right-menu{
    .btn{
        padding: 10px 55px !important;
    }
}
.pos{
    position: absolute;
    bottom: 40px;

}
.positionMenu{
    position: absolute;
    top: 40px;
    right: 40px;
}
.positionAccount{
    position: absolute;
    top: 40px;
    right: 100px;
}
.imageAccount{
    width: 108px;
    height: 108px;
    margin-top: 40px !important;
}
span{
    font-family: 'Poppins' !important;
    font-size: 13px !important;
    color: #A8A7A7;
    margin-bottom: 30px !important;
}
button.example-custom-date-class {
    background: orange;
    border-radius: 100%;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {

   // width: 170px !important;
    background-color: white !important;
}
.List-category[_ngcontent-serverApp-c234] .categ-img[_ngcontent-serverApp-c234] {
    position: absolute;
    width: 130px;
    height: 130px;
    top: -61px;
    left: 7%;
}