
.mat-form-field-appearance-outline .mat-form-field-flex{
    background-color: #F8FBFF !important;
}

 
::ng-deep .ql-editor {
    background-color: #F8FBFF;
}
::ng-deep .ql-container.ql-snow,
::ng-deep .ql-toolbar.ql-snow{
    border: unset !important;
}
::ng-deep .ql-snow.ql-toolbar button:hover .ql-stroke,
::ng-deep .ql-snow.ql-toolbar button.ql-active .ql-stroke{
    stroke: var(--primary_color) !important;
}


.profile-user{
    height:calc(100vh - 120px);
    p{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        color: #5A5A5A;    
    }
    h4{
     
        font-family: 'coolvetica' !important;
        font-size: 18px;
        line-height: 22px;
        text-align: left;    
        font-style: normal;
        font-weight: normal; 
        color: #5A5A5A; 
        padding-left: 27px;

    }
    h5{
        margin-bottom: 0px;
        font-size: 18px;
        font-weight: 500;
        color: var(--secondary_color);
        span{
            color: #699F00;
            font-size: 13px;
            &.negative{
                color: #E10000
            }
        }
    }
  
    

    .note{

        height: 100%;
        padding-right: 10px;
        .mollie{
            height: 40%;
            padding: 20px 0px;
            & > div{
                background-color: #FFFFFF;
                border-radius: 27px;
                height: 100%;
                padding: 27px 30px;              
            }
        }      
    }

    .comptes{

        height: 100%;
        padding-right: 10px;
        .mollie{
             height: 40%;
             padding: 20px 0px;
            & > div{
                background-color: #FFFFFF;
                border-radius: 27px;
                height: 100%;
                padding: 27px 30px;              
            }        
        }

 

        h3{
     
            font-family: 'coolvetica' ;
            font-size: 20px;
            line-height: 20px;
            text-align: left;    
            font-style: normal;
            font-weight: normal; 
            color: #FFFFFF;
            padding-left: 27px;
        }       
    }




    .img-profile{
    
        background-image: url('../../../assets/img/profile-cover.svg');
        background-repeat: no-repeat;
        position: relative;
        background-position: top center;
        border-radius: 25px;
        height: 154px;

      }


      .company{

        height: 100%;
        padding-right: 10px;
        .mollie{
             height: 40%;
             padding: 20px 0px;
            & > div{
                background-color: #FFFFFF;
                border-radius: 27px;
                height: 100%;
                padding: 27px 30px;              
            }        
        }

 

        h3{
     
            font-family: Coolvetica;
            font-weight: normal;
            font-size: 14px;
            line-height: 41px;
            font-style: normal;
            color: #5A5A5A;
        }       
    }


}




.orders{
    // height: 100%;
     //max-height: 70%;
   //  width: 50%;
     padding-left: 10px;
     padding-top: 20px;
     padding: 27px 30px;
   
     > div{
         border-radius: 27px;
         box-shadow: 4px 9px 65px #D3E1E8;
         background-color: #FFF;
         //padding: 27px 30px;
         height: 100%;
         max-height: 100%;
         h2{
             margin-bottom: 0;
             font-weight: 500!important;
             font-size: 18px;
             padding: 27px 30px;
         }
         .orders_list{
            //   height: calc( 70vh - 178px );
              height: calc( 90vh - 180px );
           
         } 
     } 
     
     a{     
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        text-align: center;
        text-decoration-line: underline;        
        color: #58C6FA;
     }
 }

