.my-points {
    text-align: center;
    background: #5A5A5A;
    border-radius: 5px;
    width: 172px;
    height: 48px;
    font-family: Poppins;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
}

.value-loyality-points{
    font-family: Coolvetica;
    font-weight: normal;
    font-size: 144px;
    line-height: 173px;
    display: flex;
    align-items: center;
    text-align: center;
    font-style: normal;
    color: #FFFFFF;
}

.p-loyality{

    font-family: Coolvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    text-align: center;
    color: #FFFFFF;

}



   .point-loy{
    font-family: Coolvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
     color: #FFFFFF;
  }

.point-loyality{
    position: absolute; 
    left:0;
    right:0;
    margin: auto;
    bottom: 0;
}



