<ng-container *transloco="let t">
    <section>
        <div class="container-fluid">
            <div class="row">
               
                <div class="col-12 text-center py-5">
                    <h2>Vous avez accumulé</h2>
                </div>
                <div class="col-12 position-relative text-center">
                    <img class="point-loyality-img" src="../../../assets/img/loyality_point_pic.svg" />      
                    <div class="text-center point-loyality">
                        <p class="p-loyality">{{ loyalty_points?.loyalty_points }}</p> 
                        <p class="point-loy ">points de fidélité</p>
                    </div>                           
                </div>

             
               
            </div>
        </div>
    </section>
</ng-container>