<ng-container *transloco="let t">
    <section class="orders-panel">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

            <div  class="row h-100">
                <div class="col-md-5 orders" >
                    <div>
                       
                    <h2>{{t('Orders placed')}}</h2>
                    <div  class="orders_list" >                           
    
                                <div class="d-flex  py-4" *ngFor="let orders of ordersList">
                                    <div *ngIf= "orders.reception_type == 1">
                                        <svg width="15" height="39" viewBox="0 0 15 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 -0.000179291C8.28427 -0.000179291 15 8.54711 15 19.0907C15 29.6343 8.28427 38.1816 0 38.1816V-0.000179291Z" fill="#D9F4D2"/>
                                        </svg>   
                                    </div>
                                    <div *ngIf= "orders.reception_type == 2">
                                        <svg width="15" height="39" viewBox="0 0 15 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 -0.000179291C8.28427 -0.000179291 15 8.54711 15 19.0907C15 29.6343 8.28427 38.1816 0 38.1816V-0.000179291Z" fill="#58C6FA"/>
                                        </svg>   
                                    </div>
    
                                     <div class="content d-flex flex-column justify-content-center pl-3 w-100">
                                         <p class="color-secondary">{{orders.establishment_name}}</p>                                        
                                             <p> {{ orders.date }} à {{ orders.time }}</p>                                          
                                     </div>
                                        
                                     <div class="content d-flex flex-column  pl-3 w-100">
                                         <p *ngIf= "orders.reception_type == 1">Livraison</p>
                                         <p *ngIf= "orders.reception_type == 2">Emporter</p>
                                     </div>
                                     <div class="content d-flex flex-column  pl-3 w-100">
                                         <p>{{ orders.total_to_pay }} €</p> 
                                     </div>                                           
                                   
                                 </div> 

    

                          
                    </div>
                     
                    </div>
                </div>
    
                <div class="col-md-7 restaurants">
                    <div>
                      <h2> Derniers restaurants </h2>
                      <div *ngFor="let restaurant of lastOrdersList ">                                 
                      <app-restaurant [restaurant]="restaurant"></app-restaurant>
                      </div>
                    </div>
                </div>
            </div>
          </div>
         
        </div>
      </div>
    </section>
  </ng-container>